# ignore venv
/.venv
# ignore model files
/models

# ignore generated transcription outputs and common media types
*.json
*.txt
*.mp3
*.wav
*.m4a
*.mp4
*.flac
*.ogg
*.webm
*.aac
*.wma
*.mkv
*.avi
*.mov
